<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Mastering_ToDoCrud::top" title="Mastering CRUD ACL example" translate="title" sortOrder="1000" >
                    <resource id="Mastering_ToDoCrud::config" title="Access config - first rule" translate="title"></resource>
                    <resource id="Mastering_ToDoCrud::using" title="Access usage - second rule" translate="title"></resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>