<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="mastering" translate="label" sortOrder="1000">
            <label>Mastering</label>
        </tab>
        <section id="mastering" translate="label" sortOrder="10" showInDefault="1">
            <label>Mastering</label>
            <tab>mastering</tab>
            <resource>Mastering_SampleModule::mastering</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1">
                <label>Item creation by scheduler</label>
                <field id="enabled" showInDefault="1" sortOrder="10" translate="label" type="select">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cron_schedule" translate="label" showInDefault="1" type="text" sortOrder="11">
                    <label>Set Item Cron Schedule</label>
                </field>
            </group>
        </section>
    </system>
</config>